main p {
    text-align: left;
}

/* ------------------------------------------------------ */

.header-container {
    background: url("../images/bg-pattern-intro-desktop.svg") 20% 54%;
    background-repeat: no-repeat;
}

/* ------------------------------------------------------ */

.design-section-container {
    /* padding: 15rem 0 15.7rem; */
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "title title"
    "description image"
    ;
}
.design-section--title {
    grid-area: title;
}
.image-design {
    grid-area: image;
}
.design-section--description {
    grid-area: description;
    align-self: center;
    justify-self: left;
}

/* ------------------------------------------------------ */
