main p {
    text-align: left;
}

/* ------------------------------------------------------ */

.header-container {
    background: url("../images/bg-pattern-intro-desktop.svg") 20% 54%;
    background-repeat: no-repeat;
}
.header-description h1 {
    font-size: 6.4rem;
}
.header-description p {
    font-size: 2rem;
}

/* ------------------------------------------------------ */


.design-section--description,
.art-section--description,
.computer-section--description {
    max-width: 54rem;
}

/* ------------------------------------------------------ */

.design-section-container {
    position: relative;
    padding: 19rem 0 25rem 5rem;
    grid-template-columns: auto 500px;
    grid-template-rows: auto 250px 250px;
    grid-template-areas: 
    "title title"
    "description1 image"
    "description2 image"
    ;
    justify-content: end;
    overflow-x: hidden;
    background-color: transparent;
}
.design-section--title {
    grid-area: title;
    margin: 0;
    font-size: 4rem;
    padding-right: 20rem;
    margin-bottom: 9.3rem;
}
.image-design {
    position: absolute;
    left: -128px;
    grid-area: image;
    min-width: 860px;
    margin: 0;
    justify-self: end;
    align-self: center;
}
.design-section--description {
    align-self: center;
    justify-self: left;
    margin-right: 22rem;
}
.design-description-1 {
    grid-area: description1;
}
.design-description-2 {
    grid-area: description2;
}
.design-section--description h2 {
    margin: 0;
    text-align: left;
}

/* ------------------------------------------------------ */

.art-section-container {
    grid-template-columns: 440px auto;
    grid-template-areas: 
    "image description"
    ;
    column-gap: 9.8rem;
    padding: 11.1rem 10.5rem;
    background-size: contain;
    background-position: 5% 80%;
}
.image-phones {
    grid-area: image;
    top: -168px;
    max-width: 54rem;
}
.art-section--description {
    grid-area: description;
}
.art-section--description h2 {
    padding: 0;
    font-size: 3.8rem;
    text-align: left;
}

/* ------------------------------------------------------ */

.computer-section-container {
    position: relative;
    padding: 21.6rem 5rem 20rem 0;
    grid-template-columns: 500px auto;
    grid-template-rows: 250px 250px;
    grid-template-areas: 
    "image description1"
    "image description2"
    ;
    column-gap: 20rem;
    justify-content: start;
    overflow-x: hidden;
}
.image-computer {
    position: absolute;
    left: -270px;
    grid-area: image;
    min-width: 880px;
    align-self: center;
    justify-self: end;
}
.computer-section--description {
    align-self: center;
}
.computer-section--description h2 {
    text-align: left;
}
.computer-section--description p {
    margin: 0;
}
.computer-description-1 {
    grid-area: description1;
}
.computer-description-2 {
    grid-area: description2
}

/* ------------------------------------------------------ */

.footer {
    grid-template-areas: 
    "logo product company connect"
    "logo product-list company-list connect-list"
    ;
    justify-content: normal;
    align-items: baseline;
}
.footer #product {
    grid-area: product;
}
.footer #company {
    grid-area: company;
}
.footer #connect {
    grid-area: connect;
}
.footer--product {
    grid-area: product-list;
}
.footer--company {
    grid-area: company-list;
}
.footer--connect {
    grid-area: connect-list;
}

@media (min-width: 1230px) {
    .header-container {
        padding: 6.3rem 16rem 15.6rem;
    }
}