nav {
    grid-template-columns: 120px auto;
    column-gap: 6.4rem;
}
.navbar-icon {
    display: none;
}
.navbar--mobile-menu {
    display: none;
}

/* ------------------------------------------------------ */

.navbar--desktop-menu {
    display: flex;
    justify-content: space-between;
}
.desktop-options {
    display: flex;
    gap: 4.8rem;
    align-items: center;
}
.desktop-options {
    opacity: 1;
}
.desktop-options input {
    position: sticky;
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
}
.desktop-options span {
    display: inline-block;
    width: 8px;
    height: 4px;
    margin-bottom: 2px;
    background: url("../images/icon-arrow-light.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.desktop-subOptions {
    position: absolute;
    padding: 2.4rem;
    text-align: left;
    opacity: 1;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.24);
}
.desktop-subOptions a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: #2D2E40;
}
.desktop-subOptions a:hover {
    font-weight: 700;
    color: black;
}

/* ------------------------------------------------------ */

.desktop-menu--buttons {
    display: flex;
    gap: 3.2rem;
    align-items: center;
}
.desktop-menu-button--login {
    padding: 0;
    font-size: 1.6rem;
    font-weight: 700;
    color: #FFF;
    opacity: 0.7;
    background-color: transparent;
}
.desktop-menu-button--login:hover {
    opacity: 1;
    text-decoration: underline;
}
.desktop-menu-button--sign-up {
    padding: 1.5rem 4rem;
    font-size: 16px;
    font-weight: 700;
    border-radius: 28px;
    color: #FF505C;
    background-color: #fff;
}
.desktop-menu-button--sign-up:hover {
    color: #FFF;
    background-color: #FF7B86;
}