nav {
    grid-template-columns: 120px auto;
    column-gap: 6.4rem;
}
.navbar-icon {
    display: none;
}
.navbar--mobile-menu {
    display: none;
}

/* ------------------------------------------------------ */

.navbar-left {
    display: flex;
    justify-content: space-between;
}
.desktop-options {
    display: flex;
    gap: 4.8rem;
    align-items: center;
}
.desktop-options a {
    position: sticky;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
}
.desktop-subOptions {
    position: absolute;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.24);
}

/* ------------------------------------------------------ */

.navbar-left--buttons {
    display: flex;
    gap: 3.2rem;
    align-items: center;
}
.navbar-left-button--login {
    padding: 0;
    font-size: 1.6rem;
    font-weight: 700;
    color: #FFF;
    opacity: 0.7;
    background-color: transparent;
}
.navbar-left-button--login:hover {
    opacity: 1;
    text-decoration: underline;
}
.navbar-left-button--sign-up {
    padding: 1.5rem 4rem;
    font-size: 16px;
    font-weight: 700;
    border-radius: 28px;
    color: #FF505C;
    background-color: #fff;
}
.navbar-left-button--sign-up:hover {
    color: #FFF;
    background-color: #FF7B86;
}