:root {
    --white-text: hsl(0, 0%, 100%);
    --gray-text: hsl(207, 13%, 34%);
}
* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    min-height: 100vh;
    font-family: 'Overpass', sans-serif;
}
body::-webkit-scrollbar {
    display: none;
}

.inactive {
    display: none;
}
/* ------------------------------------------------------ */

header {
    min-width: 32rem;
    border-radius: 0px 0px 0px 100px;
    background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
}
nav {
    display: grid;
    grid-template-columns: auto auto;

}
h2 {
    color: #1F3E5A;
    font-size: 2.8rem;
    font-weight: 600;
    text-align: center;
    line-height: 32px;
    letter-spacing: 0.01rem;
}
p {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    color: var(--gray-text);
}
h3 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #FFF;
}
ul {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 3.3rem;
    list-style: none;
    color: #FFF;
    opacity: 0.75;
}
li:hover {
    cursor: pointer;
    text-decoration: underline;
}
button {
    font-family: 'Ubuntu', sans-serif;
    padding: 1.5rem;
    border: none;
    border-radius: 2.8rem;
}
main {
    min-width: 32rem;
}

/* ------------------------------------------------------ */

.navbar-menu {
    width: 32px;
    height: 18px;
    align-self: center;
    justify-self: end;
}
.header-container {
    padding: 5.6rem 2.4rem 15.6rem;
    background: url("../images/bg-pattern-intro-mobile.svg") 30% 54%;
    background-repeat: no-repeat;
}
.header-description {
    display: flex;
    flex-direction: column;
    margin-top: 11.5rem;
}
.header-description h1 {
    font-size: 3.6rem;
    font-weight: 600;
    text-align: center;
    color: var(--white-text);
}
.header-description p {
    font-size: 1.8rem;
    color: var(--white-text);
}
.header-buttons {
    display: flex;
    margin-top: 3.8rem;
    justify-content: center;
    gap: 1.6rem;
}
.header-buttons #start-button {
    color: hsl(356, 100%, 66%);
}
.header-buttons #learn-button {
    background-color: transparent;
    border: 1px solid #fff;
    color: var(--white-text);
}

/* ------------------------------------------------------ */

.design-section-container {
    display: grid;
    justify-items: center;
    padding: 10rem 2.4rem 27.3rem;
}
.image-design {
    width: 320px;
    height: 320px;
    margin-bottom: 6rem;
    background-image: url("../images/illustration-editor-mobile.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.design-section--description {
    display: flex;
    flex-direction: column;
    max-width: 540px;
}
.design-section--description h2 {
    margin: 4rem 0 1.6rem
}
.design-section--description p {
    line-height: 2.8rem;
    letter-spacing: 0.05rem;
}

/* ------------------------------------------------------ */

.art-section-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 2.4rem 9.3rem;
    border-radius: 0px 100px;
    background: url("../images/bg-pattern-circles.svg"), linear-gradient(135deg, #2D2E40 0%, #3F4164 100%);
    background-position: center 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.image-phones {
    position: absolute;
    top: -176px;
    width: 375px;
    height: 375px;
    background-image: url("../images/illustration-phones.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.art-section--description {
    max-width: 55rem;
}
.art-section--description h2 {
    font-size: 4rem;
    line-height: 6.3rem;
    letter-spacing: 0.02rem;
    padding-top: 21rem;
    margin-bottom: 0.5rem;
    color: var(--white-text);
}
.art-section--description p {
    line-height: 2.8rem;
    letter-spacing: 0.05rem;
    color: var(--white-text);
}

/* ------------------------------------------------------ */

.computer-section-container {
    display: grid;
    justify-items: center;
    margin: 7.9rem 2.4rem 8rem;
}
.image-computer {
    width: 326px;
    height: 326px;
    background-image: url("../images/illustration-laptop-mobile.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.computer-section--description {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.computer-section--description p {
    margin-bottom: 4rem;
    line-height: 2.8rem;
    letter-spacing: 0.05rem;
}

/* ------------------------------------------------------ */

.footer {
    display: grid;
    padding: 7.5rem 13.7rem;
    gap: 21px;
    background-color: #24242C;
    border-radius: 0px 100px 0px 0px;
}
.footer img {
    margin-bottom: 3.1rem;
}
.footer h3 {
    margin-top: 2rem;
}