:root {
    --white-text: hsl(0, 0%, 100%);
    --gray-text: hsl(207, 13%, 34%);
}
* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    min-height: 100vh;
    font-family: 'Overpass', sans-serif;
}
body::-webkit-scrollbar {
    display: none;
}

.inactive {
    display: none;
}
/* ------------------------------------------------------ */

header {
    min-width: 32rem;
    padding: 5.6rem 2.4rem 15.6rem;
    border-radius: 0px 0px 0px 100px;
    background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
}
nav {
    display: grid;
    grid-template-columns: auto auto;
}
h2 {
    color: #1F3E5A;
    font-size: 2.8rem;
    font-weight: 600;
    text-align: center;
    line-height: 32px;
    letter-spacing: 0.01rem;
}
p {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    color: var(--gray-text);
}
button {
    font-family: 'Ubuntu', sans-serif;
    padding: 1.5rem;
    border: none;
    border-radius: 2.8rem;
}

/* ------------------------------------------------------ */

.navbar-menu {
    width: 32px;
    height: 18px;
    align-self: center;
    justify-self: end;
}
.header-description {
    display: flex;
    flex-direction: column;
    margin-top: 11.5rem;
}
.header-description h1 {
    font-size: 3.6rem;
    font-weight: 600;
    text-align: center;
    color: var(--white-text);
}
.header-description p {
    font-size: 1.8rem;
    color: var(--white-text);
}
.header-buttons {
    display: flex;
    margin-top: 3.8rem;
    justify-content: center;
    gap: 1.6rem;
}
.header-buttons #start-button {
    color: hsl(356, 100%, 66%);
}
.header-buttons #learn-button {
    background-color: transparent;
    border: 1px solid #fff;
    color: var(--white-text);
}

/* ------------------------------------------------------ */
main {
    min-width: 32rem;
}
.design-section-container {
    display: grid;
    grid-template-rows: auto 320px auto;
    justify-items: center;
    margin: 10rem 2.4rem 6.3rem;
}
.image-design {
    width: 320px;
    background-image: url("../images/illustration-editor-mobile.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.design-section--description {
    display: flex;
    flex-direction: column;
}
.design-section--description h2 {
    margin-bottom: 1.6rem;
}
.design-section--description p {
    margin-bottom: 4rem;
    line-height: 2.8rem;
    letter-spacing: 0.05rem;
}